.filter-highlights {
	position: relative;
	max-width: 100%;
	margin: auto;
	padding: $baseMeasure * 8;

	.filter-highlights--filter-buttons {
		display: flex;
		justify-content: space-evenly;
	}

	.filter-highlights--filter-button {
		@extend %filter-button;

		&-red {
			background-color: $materialRed;
		}

		&-green {
			background-color: $materialGreen;
		}

		&-yellow {
			background-color: $materialYellow;
		}
	}
	.filter-highlights--filtered {
		display: flex;
		flex-direction: column;
		
		.filter-highlights--filtered-texts {
			margin-top: $baseMeasure * 2;

			&:first-child {
				margin-top: $baseMeasure * 4;
			}

			&-red {
				p {
					background-color: $materialRed;
					color: white;
				}
			}

			&-yellow {
				p {
					background-color: $materialYellow;
				}
			}
			
			&-green {
				p {
					background-color: $materialGreen;
					color: white;
				}
			}

			p {
				display: inline-block;
				border-radius: 10px;
				margin: 0;
				padding: $baseMeasure $baseMeasure * 2;

			}
		}
	}

}