@import './variables';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*, :after, :before {
	box-sizing: border-box;
}

@import '../components/Header/index.scss';
@import '../components/Highlight/index.scss';
@import '../components/FilterHighlights/index.scss';