.header {
	min-height: 120px;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: $googleBlue;
	color: white;
	flex-direction: column;

	&--title, 
	&--title-instructions {
		margin: $baseMeasure;
	}

	&--title {
		font-size: 1.75em;
	}

	&--title-instructions {
		font-size: 1.25em;
	}

	&--instructions {
		text-align: left;
		font-size: 85%;
		margin: $baseMeasure * 2 auto;

		li {
			padding-bottom: $baseMeasure;
		}
	}
}