.highlight {
	position: relative;
	text-align: center;

	.highlight {

		&--selectors {
			width: 100%;
			padding: $baseMeasure * 8;
			display: flex;
			justify-content: space-evenly;

			&-button {
				@extend %filter-button;

				&-red {
					background-color: $materialRed;
				}

				&-green {
					background-color: $materialGreen;
				}

				&-yellow {
					background-color: $materialYellow;
				}
			}
		}


		&--container {
			display: inline-block;
	    position: relative;
	    overflow: hidden;
	    -webkit-text-size-adjust: none;
	    background: #fff;
		}

		&--textarea {
			max-width: 800px;
			max-height: 350px;
			min-height: 150px;
			min-width: 500px;
			display: block;
			position: relative;
			border: 2px solid $googleBlue;
			border-radius: 4px;
			background: none transparent;
			font: inherit;
			text-align: left;

			&:focus {
				outline: none;
				border-color: darken($googleBlue, 15%)
			}
		}

		&--textarea-shadow {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			overflow-x: hidden;
			overflow-y: auto;
			border: 2px solid transparent;
			text-align: left;

			&-content {
				border: 2px solid;
				background: none transparent;
				width: auto;
		    height: auto;
		    border-color: transparent;
		    white-space: pre-wrap;
		    word-wrap: break-word;
		    color: transparent;
		    overflow: hidden;

		    mark {
		    	opacity: .35;
			    &.red {
			    	background-color: $materialRed;
			    }

			    &.green {
			    	background-color: $materialGreen;
			    }

			    &.yellow {
			    	background-color: $materialYellow;
			    }
		    }
			}

			&--highlight {
				width: auto;
			  height: auto;
			  border-color: transparent;
			  white-space: pre-wrap;
			  word-wrap: break-word;
			  color: transparent;
			  background-color: transparent;
			  overflow: hidden;

			  &--mark {
			  	color: transparent;
			  	background-color: transparent;
			  }
			}
		}
	}
}